* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0px;
}
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  text-align: center;
  background-color: darkolivegreen;
  padding: 60px;
}
.maine {
  padding: 16px;
}
main article {
  padding-top: 20px;
}
nav {
  color: darkolivegreen;
}
nav li {
  padding-top: 20px;
}
nav a {
  font-weight: bold;
  color: salmon;
}
nav a:hover {
  background-color: burlywood;
}
nav a:active {
  color: blanchedalmond;
}
article + article {
  border-top: solid black 2px;
}
